<div class="container">
    <div class="twoparts">
        <h1>
            {{user.firstname}} {{user.name}} &nbsp; 
        </h1>
        <img class="icon cantiniere" *ngIf="user.isLunchLady" src="../../assets/img/chef.svg">
    </div>



    <div class="twoparts">
        <div>
            <img class="profilepic" *ngIf="user.image" src="http://localhost:8080/lunchtime/{{user.image}}" alt="">
            <img class="profilepic" *ngIf="!user.image" src="../../assets/img/default-profile.png" alt="">
        </div>
        <div class="second">
            <img class="icon" *ngIf="user.sex === 0" src="../../assets/img/male.svg">
            <img class="icon" *ngIf="user.sex === 1" src="../../assets/img/woman.svg">
            <div class="twoparts">
                <img class="icon" src="../../assets/img/home.svg">
                &nbsp; {{user.address}} {{user.postalCode}} {{user.town}}
            </div>
            <div class="twoparts">
                <img class="icon" src="../../assets/img/phone.svg">
                &nbsp; {{user.phone}}
            </div>
            <div class="twoparts">
                <img class="icon" src="../../assets/img/at.svg">
                &nbsp; {{user.email}}
            </div>
            <div class="twoparts">
                <img class="icon" src="../../assets/img/euro.svg">
                &nbsp; {{user.wallet}} €
            </div>
            <button [routerLink]="['/profiledit', user.id]" class="btn" >Editer le profil</button>

        </div>
    </div>
</div>