h1{
    color: #EA932A;
    font-size: 24pt;
    margin: 20px 0;
}
.center{
    display: flex;
    justify-content: space-around;
}
.twoparts{
    display: flex;
    flex-wrap: wrap;
}
.icon{
    height: 20px;
    margin-bottom: 10px;
}
.second{
    margin-left: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}
.profilepic{
    height: 180px;
}
.btn{
    background-color: #EA932A;
    color: white;
    margin-top: 21px;
}
.cantiniere{
    margin-top: 28px;
}

.container{
    padding: 15%;
    flex-wrap: wrap;
}

.ultime{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.profileTitle{
    display: flex;
    margin: auto;
}