<h1>Ajouter un nouvel ingrédient</h1>
<form [formGroup]="form" (ngSubmit)='submit()' >
    <label for="">Nom</label><br/>
    <input type="text" formControlName="label" name="label"><br/>
    <label for="">Description</label><br/>
    <input type="textarea" formControlName="description" name="description"><br/>
    <label for="">Image</label><br/>
    <input type="text" formControlName="image" name="image"><br/>
    <button type="submit" [disabled]="!form.valid">Ajouter un ingredient</button>
  </form>
  