#conteneur {
    height: 100vh;
}

header {
    height: 10%;
    border: solid;
    border-radius: 20px;
    
}

#content {
    height: 80%;
    border: solid;
    border-radius: 20px;
}

footer {
    height: 10%;
    border: solid;
    border-radius: 20px;
}

