

<div class="container">
        <a class="addnew" [routerLink]="['/newingredient']">Ajouter un nouvel ingrédient</a>

  <table>
      <thead>
          <tr>
              <th>Nom</th>
              <th>Description</th>
              <th></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let ingredient of ingredients">
              <td>{{ingredient.label}}</td>
              <td>{{ingredient.description}}</td>
              <td>
                <a [routerLink]="['/ingredientedit', ingredient.id]">Editer</a>
              </td>
              <td>
                <button (click)='deleteIngredient(ingredient.id)'>Supprimer</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>