<form (ngSubmit)="inscription()" [formGroup]="registerForm">

    <label for="name"> prénom :</label>
    <input type="text" formControlName="name">

    <div class="red" *ngIf="name">
        {{ name }}
    </div>

    <label for="surname"> nom :</label>
    <input type="text" formControlName="surname">

    <div class="red" *ngIf="surname">
        {{ surname }}
    </div>

    <label for="sexe"> sexe:</label>
    <select formControlName="sex">
        <option value="">--Choisir son sexe--</option>
        <option value="0">Homme</option>
        <option value="1">Femme</option>
    </select>

    <div class="red" *ngIf="sex">
        {{ sex }}
    </div>

    <label for="phone"> numéro de téléphone :</label>
    <input type="tel" formControlName="phone">

    <div class="red" *ngIf="phone">
        {{ phone }}
    </div>

    <label for="address"> Adresse :</label>
    <input type="text" formControlName="address">

    <div class="red" *ngIf="address">
        {{ address }}
    </div>

    <label for="postalCode"> Code postale :</label>
    <input type="number" formControlName="postalCode">

    <div class="red" *ngIf="postalCode">
        {{ postalCode }}
    </div>

    <label for="town"> Ville :</label>
    <input type="text" formControlName="town">

    <div class="red" *ngIf="town">
        {{ town }}
    </div>

    <label for="image64"> Avatar :</label>
    <input type="url" formControlName="image64">

    <label for="email"> Adresse mail :</label>
    <input type="email" formControlName="email">

    <div class="red" *ngIf="email">
        {{ email }}
    </div>


    <label for="password"> Mot de passe :</label>
    <input type="password" formControlName="password" name="password">

    <div class="red" *ngIf="password">
        {{ password }}
    </div>

    <button type="submit"> valider l'inscription </button>
</form>